<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nkwebsite</title>

    <!-- box icon  -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- custom css  -->
    {{!-- <link rel="stylesheet" href="style.css" /> --}}
     <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <!-- header design  -->
    <header class="header">
   <a href="#" class="logo">{{brandname.brandname}}</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Work Experience</a>
        <a href="#portfolio">Latest Project</a>
        <a href="#Contact">Contact Me</a>
      </nav>
    </header>

    <!-- home section design  -->
    <section class="home" id="home">
      <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Nayan Kumar</h1>
        <h3>
          And I'm a Passionate <span id="element"></span></span>
        </h3>
        <p>
          I am a student of Kalinga Institute of Industrial Technology University, currently pursuing B.Tech in Computer Science and Engineering (CSE) (2021-25) Batch. I have a keen interest in exploring various things and expanding my knowledge.
        </p>


        <div class="socialmedia">
          <a href="https://github.com/Nayankumar4986"><i class='bx bxl-github' ></i></a>
          <a href="https://instagram.com/nayan272n?igshid=NGExMmI2YTkyZg=="><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/nayan-kumar-34b8a2164/"><i class="bx bxl-linkedin-square"></i></a>
          <a href="https://leetcode.com/u/Nkcoding/">
    <svg width="24" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.5306 11.0186L12.0051 8.4931L13.6193 6.87887L17.7657 11.0252L13.6193 15.1716L12.0051 13.5574L14.5306 11.0319L14.5306 11.0186ZM7.74943 13.5574L6.13521 15.1716L2 11.0252L6.14638 6.87887L7.7606 8.4931L5.23508 11.0186L7.7606 13.5441L7.74943 13.5574ZM21.387 8.65523L20.8327 7.80022C20.7042 7.59169 20.4375 7.52913 20.2216 7.64234L19.526 7.99262C19.4326 8.04291 19.3606 8.11928 19.3196 8.2082C19.2787 8.29713 19.2714 8.39435 19.2984 8.48467L21.4724 15.2741C21.5003 15.3656 21.5586 15.4444 21.6357 15.4964C21.7128 15.5484 21.8047 15.5706 21.8972 15.5588C21.9897 15.547 22.0762 15.5012 22.1408 15.4308L22.8566 14.7151C22.9224 14.6486 22.9715 14.563 22.998 14.4666C23.0245 14.3702 23.0274 14.2672 23.0064 14.1681L21.387 8.65523Z" fill="currentColor"/>
    </svg>
</a>

        </div>
         {{!-- <a href="{{this.link}}" download class="btn">{{this.linkText}}</a> --}}



         <a href="https://drive.google.com/file/d/14RATVutCaXCg3q9gv5ZpAd6hEAysR-av/view?usp=drive_link " download class="btn">Download Resume</a>
      </div>

      

      <div class="home-img">
        <img src="/static/images/bg.png" alt="" />
      </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
      <div class="about-img" >

        <img src="/static/images/bg.png" alt="" />
      </div>

      <div class="about-content">
        <h2 class="heading">
          About
          <span>Me</span>
        </h2>
        <!-- <h3>Frontend Developer!</h3> -->
        <p>
            As a computer science student with a passion for technology and innovation, I believe that this opportunity would provide me with valuable experience and allow me to contribute to your team. And I am a undergraduate student of KIIT UNIVERSITY. Eager to secure an internship & Placement using my knowledge with natural language processing and building websites for non-technical users to further utilization of internet and social media.
        </p>
        <a href="https://www.linkedin.com/in/nayan-kumar-34b8a2164/" class="btn">Read More</a>
      </div>
    </section>

    <!-- Services section  -->

    <section class="services" id="services">
      <h2 class="heading">Work <span>Experience</span></h2>

      <div class="services-container">
        <div class="serivices-box">
          <i class="bx bx-code-alt"></i>
          <h3>Android Developement</h3>
          <br>
          <p>
            Project based internship offer Code Clause Android Developement
            Program with Code clause internship is Schedule in the month of 01 Jul, 2023 to 30 jul 2023
          </p>
          <br>
          <a href="https://www.linkedin.com/posts/nk25kiitcse_androiddevelopment-internship-codeclauseinternship-activity-7094597552146194434-L0Pl/?utm_source=share&utm_medium=member_desktop" class="btn">Read More</a>
        </div>

      
        <div class="serivices-box">
          <i class="bx bxl-android"></i>
          <h3>Android App And Web Developement</h3>
          <br>
          <p>
            Corizo Internship offer as a Android Development
            I completed a remote based internship in the month of 05 May to 05 June, 2023
          </p>
          <br>
          <a href="https://www.linkedin.com/posts/nk25kiitcse_course-completion-certificate-for-web-development-activity-7085907119283015680-861X/?utm_source=share&utm_medium=member_desktop" class="btn">Read More</a>
        </div>
  

      
        <div class="serivices-box">
          <i class="bx bxl-python"></i>
          <h3>Artificial Intelligence</h3>
          <br>
          <p>
            Project based internship offer for Artificial Intelligence with Python- Microsoft
            program with Coincent in association with Languify. The internship is scheduled to commence in the month of 01 Aug, 2023 to 30 Sep, 2023.
          </p>
          <br>
          <a href="https://www.linkedin.com/posts/nk25kiitcse_artificialintelligence-coincent-certification-activity-7103213197360308224-5tTB/?utm_source=share&utm_medium=member_desktop" class="btn">Read More</a>
        </div>
  
    </section>



    <!-- portfolio section design   -->

    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Project</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">

                <img src="/static/images/nayan1.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4 id="font">Dynamic Web Design <a href="https://www.youtube.com/watch?v=p7OeyIf0bLE"><i class='bx bx-link-external' ></i></a></h4>
                    <p>In the MongoDB database, all modifications are dynamically persisted and retrieved. This includes changes to titles, images, and sliders, allowing users to update data directly in the database.</p>
                    
                </div>
            </div>


            <div class="portfolio-box">

                <img src="/static/images/nayan2.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4>Online Voting App</h4>
                    <p>using Android Studio and Java to develop the front-end of the
application and implementing Google Firebase to manage user
inputted data and Sql Lite Database</p>
                    <a href="https://www.youtube.com/watch?v=x4rUgNDtFHA"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>



            <div class="portfolio-box">

                <img src="/static/images/nayan3.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4>Ecommerce website online Shopping <a href="https://www.youtube.com/watch?v=3QQU4TZARL8"><i class='bx bx-link-external' ></i></a></h4>
                    <p>secure Ecommerce platforms and
                           contributing to the success of innovative online shopping
                          experiences</p>
                   
                </div>
            </div>



            <div class="portfolio-box">

                <img src="/static/images/nayan4.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4>ChatGPT Clone using OpenAI <a href="https://github.com/Nayankumar4986/kiit-gpt"><i class='bx bx-link-external' ></i></a></h4>
                    <p>Experienced and skilled professional with a passion for technology and AI. Developed a ChatGPT Clone using OpenAI, Flask, HTML, TailwindCSS, and MongoDB.
</p>
                    
                </div>
            </div>



            <div class="portfolio-box">

                <img src="/static/images/s2.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4>QR Code Scanner App <a href="https://www.linkedin.com/posts/nk25kiitcse_connections-codeclause-androiddeveloper-activity-7089679017657663493-KNca/?utm_source=share&utm_medium=member_desktop"><i class='bx bx-link-external' ></i></a></h4>
                    <p>Discover a world of possibilities with QR ScanGo. Download now and elevate your QR code scanning experience today! Available on Android.</p>
                   
                </div>
            </div>


            <div class="portfolio-box">

                <img src="/static/images/nk1.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4>Voice Based Notes App <a href="https://www.linkedin.com/posts/nk25kiitcse_connections-codeclause-androiddeveloper-activity-7087172304291426304-X4ot/?utm_source=share&utm_medium=member_desktop"><i class='bx bx-link-external' ></i></a></h4>
                    <p>Tired of typing out long notes? Say hello to VoiceNote, the innovative app that allows you to create notes using just your voice. Whether you're on the go or need a hands-free solution, VoiceNote</p>
                    
                </div>
            </div>
        </div>   
    </section>




{{!-- NEW PROJECT  --}}

    <section class="portfolio" id="portfolio">
    <h2 class="heading">2024 Latest <span>Project</span></h2>

    <div class="portfolio-container">
        <!-- Your existing portfolio-box elements -->

        <!-- New portfolio-box element -->
         <div class="portfolio-box">

                    <img src="/static/images/car.jpg" alt="" >
                <div class="portfolio-layer">
                    <h4>Speed Radar System <a href="https://github.com/Nayankumar4986/Traffic-Speed-Radar-Detection"><i class='bx bx-link-external' ></i></a></h4>
                    <p>Improved and refined an advanced object
                  tracking system with ID assignment and object recognition
                  algorithms to monitor vehicle movements across frames,
                  enabling accurate speed estimation</p>
                    
                </div>
            </div>


         <div class="portfolio-box">

                <img src="/static/images/3.jpg" alt="" height="310" >
                <div class="portfolio-layer">
                    <h4>Chatter App</h4>
                    <p>Developed a dynamic and interactive real-time chat web application using React, Firebase, and Firestore. The project enables users to sign in securely using Google authentication and create chat rooms of Multiple users</p>
                    <a href="https://664bac1ba4f26b1406bcf454--inspiring-faun-2f537e.netlify.app/"><i class='bx bx-link-external' ></i></a>
                </div>
            </div>



         <div class="portfolio-box">

                <img src="/static/images/mausam.jpg" alt="" height="310" >
                <div class="portfolio-layer">
                    <h4>Mausam Zen-Web</h4>
                    <p>Tired of typing out long notes? Say hello to VoiceNote, the innovative app that allows you to create notes using just your voice. Whether you're on the go or need a hands-free solution, VoiceNote</p>
                    <a href="https://nayankumar4986.github.io/Mausam-Zen-web/" ><i class='bx bx-link-external' ></i></a>
                </div>
            </div>



         <div class="portfolio-box">

                <img src="/static/images/1.png" alt="" height="310" >
                <div class="portfolio-layer">
                    <h4>Donation App</h4>
                    <p>On the homepage, users can click the "Donate" button to choose an amount and payment method on the payment page, complete the transaction, and receive an email with an invoice detailing the donation amount.</p>
                    <a href="https://nayankumar4986.github.io/Payment-Gateway/" ><i class='bx bx-link-external' ></i></a>
                </div>
            </div>

         <div class="portfolio-box">

                <img src="/static/images/imgspring.png" alt="" height="310" >
                <div class="portfolio-layer">
    <h4 style="color: red;">Job Portal Web Application</h4>
    <p style="color: black;">Updated for experienced Java and Spring Boot developers through building an end-to-end project using Spring Boot, Spring MVC, Thymeleaf, and Hibernate/JPA, with support available within 24 hours.</p>
    <a href="https://github.com/Nayankumar4986/SpringBoot--Job-Portal-Web-Application/blob/main/README.md"><i class='bx bx-link-external'></i></a>
</div>

            </div>


         <div class="portfolio-box">

                <img src="/static/images/plant.jpg" alt="" height="310" >
                <div class="portfolio-layer">
                    <h4 >Plant Diseases Detection ML</h4>
                    <p style="color: black;">Explore modern techniques revolutionizing plant leaf disease detection. Traditional methods like visual inspection are limited, paving the way for machine learning algorithms, including Convolutional Neural Networks (CNNs), image processing, and sensor-based technologies</p>
                    <a href="https://github.com/Nayankumar4986/Plant-Diseases-Detection_ML"><i class='bx bx-link-external' ></i></a>

                </div>
            </div>
        </div> 
        </div>               
</section>




   






    <!-- contact section design    -->
    <section class="contact" id="Contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="/process-contact" method="post">
            <div class="input-box">
                <input name="fullname" type="text" placeholder="Full Name">
                <input name="email" type="Email" placeholder="Email Address">
            </div>

            <div class="input-box">
                <input name="phone" type="Number" placeholder="Mobile No">
                <input name="emailsubject" type="text" placeholder="Email Subject">
            </div>
            <textarea name="query" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
            
        </form>
    </section>



    <!-- footer designer  -->
    <footer class="footer">
        <div class="footer-text">
       <p>Copyright &copy; 2023 by Nayan | All Rights Reserved.<br>
    Email Id <a href="mailto:NayanK092@gmail.com" style="color: blue;">NayanK092@gmail.com</a>
</p>


        </div>

        <div class="footer-icontop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>




{{!-- CURSON ANIMATION  --}}

<style>
        /* CURSOR ANIMATION */
        .cursor {
            z-index: 9999;
            position: fixed;
            background: #2696E8;
            width: 8px; /* Adjust size as needed */
            height: 8px; /* Adjust size as needed */
            border-radius: 50%;
            pointer-events: none;
            box-shadow: 0 0 1px #2696E8,
                        0 0 0 2px #2696E8,
                        0 0 0 4px #2696E8;
            animation: colors 5s infinite;
            display: none;
        }

        @keyframes colors {
            0% {
                filter: hue-rotate(0deg);
            }
            100% {
                filter: hue-rotate(369deg);
            }
        }

        .cursor:before {
            content: '';
            position: absolute;
            background: #2696E8;
            width: 4px; /* Adjust size as needed */
            height: 4px; /* Adjust size as needed */
            opacity: 0.2;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        /* Blast Animation */
        @keyframes blast {
            0% {
                transform: scale(0);
                opacity: 1;
            }
            100% {
                transform: scale(3);
                opacity: 0;
            }
        }

        .blast {
            position: absolute;
            width: 1px; /* Adjust size as needed */
            height: 1px; /* Adjust size as needed */
            background: #2696E8;
            border-radius: 50%;
            animation: blast 0.5s linear forwards;
        }
    </style>

   
     <div class="cursor">
        <!-- Add content here for cursor animation -->
<script type="text/javascript">
         const cursor = document.querySelector(".cursor");
         var timeout;

        document.addEventListener("mousemove", (e) => {
            let x = e.clientX;
            let y = e.clientY;
            cursor.style.top = y + "px";
            cursor.style.left = x + "px"; 
            cursor.style.display ="block";


            function mouseStopped(){
                cursor.style.display="none";

            }
            clearTimeout(timeout);
            timeout = setTimeout(mouseStopped, 10);
        });

        document.addEventListener("mouseout",()=>{
            cursor.style.display="none";
        })

    </script>






<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>


    <!-- scroll reveal  -->

    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js  -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> -->

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>


     <!-- Setup and start animation! -->

    <!-- custom script   -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
